@charset "utf-8";
/* CSS Document */
body {
    margin: 0px;
    padding: 0px;
    background: url(../images/d-nature-wallpaper-hd-p-77629944.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.panel {
    border: 0px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffff;
    text-align: center;
    padding-top: 70px;
    position: relative;
    transition: 1s;
}

h4 {
    margin: 0;
    padding: 0;
    color: #F9DF05;
}

h2 {
    margin: 0;
    padding: 0;
    color: #F9DF05;
}

/*span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-left: 10px;
    -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
*/
.panel:hover {
    background: rgba(0, 0, 0, 0.7);
}
 